{% layout 'theme' %}
<section class="page-width text-center">
  <h1>Page Not Found</h1>
  <p>Sorry, we couldn’t find the page you’re looking for.</p>
  <a href="/" class="btn">Return to Home</a>
</section>
